{% extends "base.html" %}

{% block content %}
<div class="filter-buttons">
    <a href="{% url 'timeline' filter_type='all' %}">All Activity</a>
    <a href="{% url 'timeline' filter_type='friends' %}">Friends</a>
</div>

<div class="timeline">
    <div class="entry-card-container">
        {% for movie in entries %}
            <div class="entry-card">
                {% with movie.user.profile as other_user_profile %}
                    {% if other_user_profile %}
                        <div class="user-info">
                            <!-- User Profile Picture and Details -->
                            <img class="pfp" src="{{ other_user_profile.profile_picture.url }}">
                            <a href="{% url 'view_profile' username=other_user_profile.user.username %}">@{{ other_user_profile.user.username }}</a>
                        </div>
                    {% else %}
                        <!-- Handle the case where other_user_profile is None -->
                        <p>Unknown User</p>
                    {% endif %}
                {% endwith %}

                <!-- Display movie details horizontally -->
                <div class="movie-details-horizontal">
                    <img src="{{ movie.poster }}" alt="{{ movie.movie_name }}" class="movie-poster-small">
                    <div class="details">
                        <p class="small-text">{{ movie.date }}</p>
                        <p class="movie-title">{{ movie.movie_name }}</p>
                    </div>
                </div>

                <!-- Link to view movie details -->
                <a href="{% url 'movie_details' movie_id=movie.id %}">View Movie</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
